//- Подключение скриптов
mixin script(scripts)
	each src in scripts
		- src = (/^(https?:)?\/\//.test(src) ? src : 'assets/scripts/' + src) + '?' + timestamp;
		script(src=src)

mixin input_text(label, value, id, field_class)
	.form_row(class=field_class)
		label.form__label(for=id)=label
		input.form__input_text(type='text', id=id, value=value)

mixin checkboxes(list, mass_id)
	- var i= 0
	each item in list
		.form_row
			input.input-checkbox(
				id=mass_id + 'input' + i
				type='checkbox'
				checked= item[1])
			label.form__label.checkbox(
				for=mass_id + 'input' + i)
				= item[0]
		- i++